.video-js.video-js {
	display: inline-block;
	vertical-align: initial;
}
.video-js.vjs-audio {
	height: 30px;

	.vjs-big-play-button {
		display: none;
	}
	.vjs-control-bar {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}
